<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Bonk</string>
    <key>CFBundleDisplayName</key>
    <string>Bonk</string>
    <key>CFBundleIdentifier</key>
    <string>nl.roland.bonk</string>
    <key>CFBundleExecutable</key>
    <string>Bonk</string>
    <key>CFBundleIconFile</key>
    <string>Bonk</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>Bonk leest je agenda om je vlak voor een meeting te waarschuwen.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Bonk leest je agenda om je vlak voor een meeting te waarschuwen.</string>
    <key>NSHumanReadableCopyright</key>
    <string>© 2026 Roland Kierkels</string>
</dict>
</plist>
